@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Grotesque;
  src: url('./assets/fonts/GrotesqueRegular.ttf');
}

@font-face {
  font-family: GrotesqueBold;
  src: url('./assets/fonts/GrotesqueBold.ttf');
}

@font-face {
  font-family: proxima;
  src: url('./assets/fonts/proximanova-medium.otf');
}

@layer components {
  .title {
    @apply font-extrabold text-2xl text-zinc-950 opacity-95 font-GrotesqueBold;
  }
}